@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


 

body {
    background-color:  #e6e6e6;
}



header {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px; 
    padding-left: 20px; 
    padding-right: 20px; 
    box-shadow: 0px 12px 22px -3px rgba(0,0,0,0.36);
}


header {
    background-color:#073a25;
    color: #fff;
    text-align: center;
}



nav ul {
    list-style: none; 
}

nav li {
    display: inline; 
    margin-right: 20px; 
}

nav a {
    text-decoration: none; 
    font-weight: bold; 
    color: #fff; 
    margin: 10px;
}

nav a:hover { 
    background-color: #82d180;
    transition: all 0.5;
    border-radius: 10px;
}



main {
    padding: 20px; 
    overflow: hidden; 
}



.card {
    padding: 10px;
    margin: 10px;
    background-color: #e6e6e6;
    box-shadow: 0px 10px 20px -4px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    float: left; 
}

.cards {   
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}

button {    
    background-color:  #073a25;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

a { 
    color: #fff;
    text-decoration: none;
}

button:hover {  
    background-color: #67ca74c7;
    transition: all 0.9;
}




footer {
    background-color:    #073a25;   
    color: #fff;
    text-align: center;
    padding: 1rem;
}
